.container {
  padding: 16px;
  height: 100vh;
  overflow: scroll;
}

.customerName {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.title {
  text-align: center;
  text-decoration: underline;
  margin: 8px 0;
}
.address {
  text-align: center;
}

.gallery {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, 300px);
  gap: 20px;
}

.gallery img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.notDataPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notDataPage .heading {
  font-size: 3rem;
  margin-bottom: 8px;
}

.notDataPage .subheading {
  font-size: 1rem;
}

.loadingScreen {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: gray;
}
