.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.containerNavigation,
.containerViewSection {
  height: 100%;
  overflow: scroll;
}

.containerNavigation {
  flex: 2;
  background-color: aliceblue;
}

.containerViewSection {
  flex: 4;
}

.customerCard {
  background-color: whitesmoke;
  padding: 20px;
  color: gray;
  cursor: pointer;
}

.customerCard.selectedCustomerCard {
  background-color: darkgrey;
}

.customerCardName {
  color: black;
  display: inline-block;
  margin-bottom: 16px;
  font-size: 22px;
}
